<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        求人詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @job.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>求人情報</th>
                </tr>
                <tr>
                  <td><%= simple_format @job.body %></td>
                </tr>
              </table>
              <% if user_signed_in? && current_user.id == @job.user_id %>
                <%= link_to "編集画面へ", edit_job_path(@job), class: "button is-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
