// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
  margin-bottom:10px;
}
.username{
  font-size:20px;
}
.job-title{
  margin-left:25px;
  margin-top:25px
}

dl.searchbox{
  width: 350px;
  position:relative;
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:6px;
}
dl.searchbox dt{
  padding:3px;
}
dl.searchbox dt input{
  width:70%;
  height:30px;
  line-height:30px;
  background:none;
  border:none;
}
dl.searchbox dd{
  position:absolute;
  top:1px;
  right:1px;
  width:30%;
}
.search-btn{
  display:block;
  background:blue;
  width:100%;
  height:36px;
  line-height:36px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}

.search-btn:hover {
  background:lightblue;
}