// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.destroy{
  color: #fff;
  background: #f56500;
  left: 1rem;
  color: #fff;
  background-color: #eb6100;
  margin-left: 5px;
}
.mypage-job-title{
  font-size: 24px;
  padding:8px 12px;
  font-weight: bold;
}
